<wm-partial name="partial1" data-ng-controller="Barcode_PartialPageController">
    <wm-container horizontalalign="center" name="container1" margin="10px unset unset unset">
        <wm-barcodescanner name="barcodescanner1" show="bind:Variables.staticVariable4.dataSet.dataValue" iconclass="fa fa-qrcode fa-5x" on-success="Variables.databaseVariable1.createRecord()" barcodeformat="QR_CODE"></wm-barcodescanner>
    </wm-container>
    <wm-container horizontalalign="center" name="container2" margin="10px unset unset unset">
        <wm-label class="p" name="label1" caption="bind:Widgets.barcodescanner1.datavalue" padding="unset 0.5em"></wm-label>
    </wm-container>
</wm-partial>